<header class="header-fix">
    <nav class="col-md-12 navbar navbar-expand-lg navbar-dark bg-primary nav-default">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav mr-auto">
                <li *ngIf="isLoggedIn()" role="presentation">
                    <a data-toggle="tooltip" data-placement="top" title="Home" class="nav-link"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['']">Home</a>
                </li>

                <li *ngIf="isLoggedIn() && isAdmin()" role="presentation">
                    <a data-toggle="tooltip" data-placement="top" title="Update Type" class="nav-link"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['/meal/type']" href="#">Type Update</a>
                </li>

                <li *ngIf="isAdmin()" role="presentation">
                    <a data-toggle="tooltip" data-placement="top" title="Update meal" class="nav-link"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['/meal']">Meal Update</a>
                </li>

                <li *ngIf="!isAdmin() && isLoggedIn()" class="nav-item dropdown" role="presentation">
                    <a data-toggle="tooltip" data-placement="top" title="Weekly menu" class="nav-link"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['/menu/weeklyMenu']">See menu</a>
                </li>

                <li *ngIf="!isAdmin() && !isChosen() && isLoggedIn()" class="nav-item dropdown" role="presentation">
                    <a data-toggle="tooltip" data-placement="top" title="My orders" class="nav-link"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['/order/orderCanceling']">My orders</a>
                </li>

                <li *ngIf="isAdmin()" class="nav-item dropdown" role="presentation">
                    <a data-toggle="tooltip" data-placement="top" title="Users" class="nav-link"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['/user']">Users</a>
                </li>

                <li *ngIf="isAdmin()" class="nav-item dropdown" role="presentation">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        class="nav-link dropdown-toggle">Weekly Menu
                    </a>
                    <div class="dropdown-menu">
                        <a data-toggle="tooltip" data-placement="top" title="Add menu" class="dropdown-item nav-link"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="#"
                            [routerLink]="['/menu/addMenu']">Add Menu
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Update menu" class="dropdown-item nav-link"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="#"
                            [routerLink]="['/menu/updateWeeklyMenu']">Update Menu
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Weekly menu" class="dropdown-item nav-link"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="#"
                            [routerLink]="['/menu/weeklyMenu']">See Menu
                        </a>
                    </div>
                </li>

                <li *ngIf="isAdmin() || isChosen()" class="nav-item dropdown" role="presentation">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        class="nav-link dropdown-toggle">Orders
                    </a>
                    <div class="dropdown-menu">
                        <a data-toggle="tooltip" data-placement="top" title="My order" class="dropdown-item nav-link"
                            href="#" [routerLink]="['/orderCanceling']">My Orders
                        </a>
                        <a *ngIf="isAdmin()" data-toggle="tooltip" data-placement="top" title="All orders"
                            class="dropdown-item nav-link" href="#" [routerLink]="['/admin/seeAllOrders']">All Orders
                        </a>
                        <a *ngIf="isChosen()" data-toggle="tooltip" data-placement="top" title="Today orders"
                            class="dropdown-item nav-link" href="#" [routerLink]="['/todayOrders']">Today Orders
                        </a>
                    </div>
                </li>
            </ul>

            <div *ngIf="user && isLoggedIn()">
                <img *ngIf="user.imagePath" [src]="user.imagePath" alt="Avatar" class="avatar">
                <img *ngIf="!user.imagePath" src="assets/profile.jpg" alt="Avatar" class="avatar">
            </div>

            <ul class="nav">
                <li *ngIf="!isLoggedIn()" role="presentation">
                    <a data-toggle="tooltip" data-placement="top" title="Register" class="nav-link"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['/auth/register']">Register</a>
                </li>
                <li *ngIf="!isLoggedIn()" role="presentation">
                    <a data-toggle="tooltip" data-placement="top" title="Login" class="nav-link"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['/auth/login']">Login</a>
                </li>
                <li *ngIf="isLoggedIn()" role="presentation" id="logedAs">
                    Logged in as&nbsp; <a [routerLink]="['/user/profile']">{{user.name}} {{user.lastName}} (Role: <span
                            *ngIf="isAdmin()">Admin</span>
                        <span *ngIf="isChosen()">Chosen one</span><span *ngIf="!isAdmin() && !isChosen()">Regular
                            user</span>)</a>
                </li>
                <li *ngIf="isLoggedIn()" role="presentation" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <button class="btn btn-primary logout" (click)="onLogout()" data-toggle="tooltip"
                        data-placement="top">Logout</button>
                </li>
            </ul>
        </div>
    </nav>
</header>