<br><br>
<div class="container email-input">
    <div class="card">
        <h4 class="card-header">Enter your email</h4>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="emailForm">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" id="email" class="form-control">
                    <span *ngIf="!emailForm.get('email')?.valid && emailForm.get('email')?.touched" class="help-block">
                        This email address is invalid. Pleae try again.
                    </span>
                </div>
                <button type="submit" [disabled]="!emailForm.valid" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Send email">
                    Send email
                </button>
            </form>
        </div>
    </div>
</div>